name: Swift

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup
      - name: Cache test package build dir
        uses: actions/cache@v4
        with:
          path: Tests/licensegenTests/fixtures/.build
          key: ${{ runner.os }}-fixtures-spm-${{ hashFiles('Tests/licensegenTests/fixtures/Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-fixtures-spm-${{ hashFiles('Tests/licensegenTests/fixtures/Package.resolved') }}
            ${{ runner.os }}-fixtures-spm-
      - name: Run tests
        run: xcodebuild test -scheme LicenseGen-Package -destination 'platform=macOS' -clonedSourcePackagesDirPath .build
